<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="p3rg2z.accountant"
      android:versionCode="1"
      android:versionName="1.0"><application android:label="@string/app_name" android:debuggable="true" android:icon="@drawable/accountant">
        <activity android:name="NewBookingActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTop"
                  android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="TestModeNewBookingActivity"
                  android:label="Accountant-TestMode"
                  android:launchMode="singleTop"
                  android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity android:name="TextChooseActivity" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable"/>
        </activity>         
       <activity android:name="BookingsListActivity" 
                 android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
       </activity>
       <activity android:name="TestModeBookingsListActivity"
                 android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
       </activity>
       <activity android:name=".FileChooserActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
       </activity>
       
       <provider android:name="BookingTextSuggestionProvider"
                 android:authorities="p3rg2z.accountant.bookingtextsuggestionprovider">
       </provider>
    </application>
</manifest>